.em-intro-essay {
  font-size: 10px;
  margin-bottom: 96px;
  position: relative; }
  .em-intro-essay::after {
    content: '';
    width: 1px;
    height: 200px;
    margin: 50px auto;
    display: none;
    background-color: currentColor; }
  .em-intro-essay[data-em-intro-essay='open'] {
    margin-bottom: 0; }
    .em-intro-essay[data-em-intro-essay='open']::after {
      display: block; }
  @media (min-width: 640px) {
    .em-intro-essay {
      padding-bottom: 16px; } }

.em-intro-essay__grid {
  padding: 0 18px;
  height: 25vh;
  overflow: hidden;
  -webkit-transition: height 1500ms ease-out;
  transition: height 1500ms ease-out; }
  @media (min-width: 640px) {
    .em-intro-essay__grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      padding: 0 65px;
      width: 100%; } }

@media (min-width: 640px) {
  .em-intro-essay__container {
    margin: 0 auto;
    padding: 0;
    width: 65.21739%; } }

.em-intro-essay__header {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 640px) {
    .em-intro-essay__header {
      margin-bottom: 48px; } }

.em-intro-essay__heading {
  font-family: 'GT America';
  font-size: 26px;
  line-height: 1.15385;
  text-align: center; }
  @media (min-width: 640px) {
    .em-intro-essay__heading {
      font-size: 29px;
      line-height: 1.17241;
      letter-spacing: -0.5px; } }

.em-intro-essay__author {
  font-family: 'GT America';
  font-size: 26px;
  line-height: 1.15385;
  font-weight: 200;
  text-align: center; }
  @media (min-width: 640px) {
    .em-intro-essay__author {
      font-size: 29px;
      line-height: 1.17241;
      letter-spacing: -0.5px; } }

.em-intro-essay__content p {
  font-family: 'Reckless';
  font-size: 1.6em;
  line-height: 1.5625;
  margin-bottom: 1em; }

@media (min-width: 640px) {
  .em-intro-essay__content p {
    font-size: 2em;
    line-height: 1.6; } }

.em-intro-essay__button-container {
  width: 100%;
  border-top: 1px solid currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 300ms, height 0ms 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, height 0ms 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms, height 0ms 300ms;
  transition: opacity 300ms, transform 300ms, height 0ms 300ms, -webkit-transform 300ms; }
  [data-em-intro-essay='open'] .em-intro-essay__button-container {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    height: 0;
    overflow: hidden; }

.em-intro-essay__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.em-intro-essay__icon {
  border: 1px solid currentColor;
  border-radius: 100%;
  width: 3.5em;
  height: 3.5em;
  margin-top: -1.75em;
  background-color: white;
  background-color: var(--em-story-bg, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .em-intro-essay__icon svg {
    width: 33%; }

.em-intro-essay__label {
  font-family: 'GT America';
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  margin-top: 12px; }
  @media (min-width: 640px) {
    .em-intro-essay__label {
      font-size: 14px; } }


/*# sourceMappingURL=introessay.css.map*/